.absCard {
    position: relative;
    background: transparent;
    .edit {
        position: absolute;
        display: none;
        position: absolute;
        top: 3px;
        right: 10px;
        padding: 8px;
        cursor: pointer;
        &:hover {
            background-color: darken(#fff, 10%);
            display: block;
        }
    }
}

.CardSimple {
    overflow: hidden;
    z-index: 10;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ccc;
    cursor: pointer;
    display: block;
    max-width: 95%;
    margin: 8px auto;
    min-height: 20px;
    font-size: 14px;
    &:hover {
        background-color: darken(#fff, 5%);
    }
    &:hover {
        +.edit {
            display: block;
        }
    }
    .text {
        word-wrap: break-word;
        padding: 5px 6px;
        margin: 0;
        max-width: 100%;
        line-height: 1.5em;
    }
    .propList {
        display: flex;
        align-items: center;
        padding: 0 5px 3px 5px;
        .icon {
            margin: 5px 8px;
            color: darken(#e2e4e6, 40%);
        }
        .commentNo {
            display: flex;
            align-content: center;
            p {
                margin: 0;
                font-size: 12px;
            }
        }
    }
}

.dragCard {
    color: transparent;
    svg {
        color: transparent;
    }
    & + .edit {
        svg {
            color: transparent;
        } 
    }
}