.CardList {
    padding: 0 4px;
    height: 100%;
    overflow: auto;
    position: relative;
    &::-webkit-scrollbar {
        height: 12px;
        background: darken(#e2e4e6, 10%);
        width: .45em;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: darken(#e2e4e6, 20%);
        border-radius: 5px;
    }
    .editCard {
        position: absolute;
        left: 4px;
        z-index: 100;
        top: 40px;
        font-family: Arial;
        textarea {
            resize: none;
            border-radius: 5px;
            height: 90px;
            outline: none;
            border: solid 1px black;
            padding: 8px;
            margin-bottom: 15px;
            width: 91.5%;
        }
        a {
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            padding: 8px 25px;
            background: #5aac44;
            box-shadow: 0 1px 0 #519839;
            font-size: 14px;
            border-radius: 3px;
            cursor: pointer;
            &:hover {
                background: darken(#5aac44, 5%);
            }
        }
    }
}