.CardList {
    padding: 0 4px;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
        height: 12px;
        background-color: darken(#2878bf, 10%);
        width: .25em;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: lighten(#2878bf, 20%);
        border-radius: 5px;
    }
}